.navbar_container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 10vh;
  padding: 0px;
  flex: 1 100%;
}

.nav-brand{
color: rgb(0, 0, 0);
}
.search-bar {
 display: flex;
 text-align: right;    
}
.navbar_filter{
  display: flex;
  align-items: center;
  font-size: 15px;
  
}
.navbar_filter small{
margin: 15px;
  
}
@media screen and (max-width: 568px) {
 .search-bar {
  display: none  
        
 }
 .nav-brand{
       
  display: none;
}
.navbar_filter{
  display: none;
}
}



