.container_sidebar{
    display: flex;
    line-height: 30px;
    
}
.item_card{
    align-items: center;
}
.item_detiles{
    display: flex;
    color: aliceblue;
    flex-direction: column;
    align-items: center;
    
}
.item_detiles1{
    margin: 10px;
}
.item_detiles2{
    margin: 10px;
}
.item_detiles3{
    margin: 10px;
}